@import url(fonts.css);

:root {
  --font-primary: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

/* header start */



/* header end */

/* Samandar start */



/* Samandar end */

/* Ma'mur start */



/* Ma'mur end */

/* Ulugbek start */



/* Ulugbek end */

/* Asad start */



/* Asad end */